@page "/create-invoice/payment-type"
@using EST.MIT.Web.Shared.Components.GDSInputRadio
@using Helpers

@if(!invoice.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-9">
        <h1 class="govuk-heading-l">
            Select Payment Type
        </h1>
    </section>

    <section class="govuk-form-group govuk-width-container govuk-!-padding-top-3">
        <EditForm Model="paymentTypeSelect" OnValidSubmit="@SaveAndContinue" OnInvalidSubmit="@ValidationFailed">
            <DataAnnotationsValidator />
            <div class="govuk-form-group @(IsErrored ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    @if(IsErrored)
                    {
                        <p class="govuk-error-message">
                            @foreach(var error in viewErrors)
                            {
                                <span class="govuk-visually-hidden">Error:</span> @error
                            }
                        </p>
                    }

                    <InputRadioGroup @bind-Value="paymentTypeSelect.PaymentType" class="govuk-radios" data-module="govuk-radios" Name="select-payment-type" Label="Select Payment Type" >
                        <GDSInputRadio Options=paymentTypes UseKeys=false />
                    </InputRadioGroup>

                </fieldset>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button type=submit class="govuk-button" data-prevent-double-click="true" data-module="govuk-button">Save and Continue</button>
                    <a class="govuk-link" @onclick="Cancel" href="/">Cancel</a>
                </div>
            </div>

        </EditForm>
    </section>
}