@page "/error"

<section class="homepage-section govuk-width-container">

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">The service may be experiencing temporary difficulties.</p>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body"><a class="govuk-link" href="#">Contact the Support team</a> If the issue persists, please reach out to MIT Support for further assistance.</p>
      </div>
    </div>
  </main>
</section>