@page "/"

<section class="page__header-wrapper govuk-!-margin-bottom-9">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="page__heading govuk-heading-l">Manual Invoice Service</h2>
                <p class="page__heading govuk-body">Tools to create and manage manual payments across DEFRA managed schemes</p>
            </div>
        </div>
    </div>
</section>

<section class="homepage-section govuk-width-container">

    <ul class="topic-container-grid homepage-services-and-info__list">

        <li class="chevron-card">
            <div class="chevron-card__wrapper">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link chevron-card__link" href="/create-invoice">Create New Invoice</a>
                </h3>
                <p class="govuk-body chevron-card__description">
                    Create a single manual invoice.
                </p>
            </div>
        </li>

        <li class="chevron-card">
            <div class="chevron-card__wrapper">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link chevron-card__link" href="/create-bulk">Bulk Creation</a>
                </h3>
                <p class="govuk-body chevron-card__description">
                    Create multiple invoices from a CSV file.
                </p>
            </div>
        </li>

        <li class="chevron-card">
            <div class="chevron-card__wrapper">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link chevron-card__link" href="/find">Find an Invoice</a>
                </h3>
                <p class="govuk-body chevron-card__description">
                    Search for an invoice by invoice numbers.
                </p>
            </div>
        </li>

        <li class="chevron-card">
            <div class="chevron-card__wrapper">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link chevron-card__link" href="/user-invoices">My Invoices</a>
                </h3>
                <p class="govuk-body chevron-card__description">
                    Show invoices created by you.
                </p>
            </div>
        </li>

        <li class="chevron-card">
            <div class="chevron-card__wrapper">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link chevron-card__link" href="/approval/mine">My Approvals</a>
                </h3>
                <p class="govuk-body chevron-card__description">
                    Show invoices awaiting your approval.
                </p>
            </div>
        </li>
        
    </ul>
</section>