AzureWebJobsStorage=
ASPNETCORE_ENVIRONMENT=Development
EventQueueName=
ImporterQueueName=
BlobContainerName=
NotificationQueueName=
QueueConnectionString=
InvoiceAPIBaseURI=
ApprovalAPIBAseURI=
ReferenceDataAPIBaseURI=
InvoiceImporterAPIBaseURI=
PaymentGeneratorQueueName=
CertPassword=
CertFileName=
ClientSecret=
ClientId=
Domain=
TenantId=
Scopes=
PaymentQueueName=
TableConnectionString=
EventTableName=
NotificationTableName=
AzureWebJobsSecretStorageType=files
NotifyApiKey=
TriggerTimerInterval=0 */2 * * * *
templatesRequesterApproval=
templatesRequesterApproved=
templatesRequesterRejected=
templatesApproverApproval=
templatesApproverApproved=
templatesApproverRejected=
templatesError=
templatesUploaded=
POSTGRES_HOST=host.docker.internal
POSTGRES_DB=