@page "/approval/confirmation/approved/{Id}"
@page "/approval/confirmation/rejected/{Id}"

<section class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="/" class="govuk-back-link">Back</a>
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Invoice  @(IsRejectEndpoint ? "rejected" : "approved")
                </h1>
                <div class="govuk-panel__body">
                    Invoice number:<br>@Id
                </div>
            </div>
            <p class="govuk-body">We have sent you a confirmation email.</p>
        </div>
    </div>
</section>
