@page "/approval/select"
@using EST.MIT.Web.Shared.Components.GDSInputText
@using Helpers

@if(!invoice.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-9">
        <h1 class="govuk-heading-l">
            Select Approver
        </h1>
    </section>

    <section class="govuk-width-container">
        <p class="govuk-body">
            Please enter the email address of the approver you wish to select.
        </p>
        <p class="govuk-body">
            This must be a valid email address and follow the standard first name dot last name convention.
            <strong>Please note that at present only RPA and DEFRA emails are accepted.</strong>
        </p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Examples</span>
            </summary>
            <div class="govuk-details__text">
                <h4 class="govuk-heading-s">Valid</h4>
                <p>
                    selina.kyle@defra.gov.uk <br />
                    cyrus.grissom@rpa.gov.uk
                </p>
                <h4 class="govuk-heading-s">Invalid</h4>
                <p>
                    annieleonhart@defra.gov.uk <br />
                    tom-kazansky@rpa.gov.uk
                </p>
            </div>
        </details>

    </section>

    <section class="govuk-width-container">

        @if(ShowErrorSummary)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach(var error in errors)
                            {
                                <li>
                                    <a href="#">@error.Value</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        <EditForm Model="approverSelect" OnValidSubmit="@SubmitApproval" OnInvalidSubmit="@ValidationFailed">
            <DataAnnotationsValidator />

            <GDSInputText @bind-Data="approverSelect.ApproverEmail" Label="Approvers Email" Key="ApproverEmail" Errors="errors" />

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button type=submit class="govuk-button" data-prevent-double-click="true" data-module="govuk-button">Submit</button>
                    <a class="govuk-link" @onclick="Cancel" href>Cancel</a>
                </div>
            </div>

        </EditForm>
    </section>
}