@page "/invoice/add-payment-request"
@using EST.MIT.Web.Shared.Components.GDSInputInt
@using EST.MIT.Web.Shared.Components.GDSInputText
@using EST.MIT.Web.Shared.Components.InvoiceMetaData
@using Helpers

@if(!invoice.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-9">
        <h1 class="govuk-heading-l">
            Add Payment Request
        </h1>
    </section>

    <InvoiceMetaData Invoice=invoice/>

    <section class="govuk-width-container">
        
        @if(IsErrored)
        {
            <div class="govuk-form-group--error">
                @foreach (var error in errors.Values.SelectMany(x => x))
                {
                    <p class="govuk-error-message">@error</p>
                }
            </div>
        }

        <EditForm Model="paymentRequest" OnSubmit="SaveHeader" class="govuk-!-padding-top-6">

            <GDSInputInt @bind-Data="paymentRequest.FRN" Label="FRN" Key="FRN" Errors="errors"/>

            <GDSInputInt @bind-Data="paymentRequest.MarketingYear" Label="Marketing Year" Key="MarketingYear" Errors="errors"/>

            <GDSInputInt @bind-Data="paymentRequest.PaymentRequestNumber" Label="Payment Request Number" Key="PaymentRequestNumber" Errors="errors"/>

            <GDSInputText @bind-Data="paymentRequest.AgreementNumber" Label="Agreement Number" Key="AgreementNumber" Errors="errors"/>

            <GDSInputText @bind-Data="paymentRequest.Currency" Label="Currency" Key="Currency" Errors="errors"/>

            <GDSInputText @bind-Data="paymentRequest.DueDate" Label="Due Date" Key="DueDate" Errors="errors"/>

            
            @if(invoice.AccountType == "AR")
            {
                <GDSInputText @bind-Data="paymentRequest.OriginalInvoiceNumber" Label="Original Claim Reference" Key="OriginalInvoiceNumber" Errors="errors" />
                <GDSInputDate @bind-Data="paymentRequest.OriginalSettlementDate" Label="Original AP Invoice Settlement Date" Key="OriginalSettlementDate" Errors="errors" />
                <GDSInputDate @bind-Data="paymentRequest.RecoveryDate" Label="Earliest date possible recovery first identified" Key="RecoveryDate" Errors="errors" />
                <GDSInputText @bind-Data="paymentRequest.InvoiceCorrectionReference" Label="Correction Reference - Previous AR Invoice ID" Key="InvoiceCorrectionReference" Errors="errors" />
            }

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button type=submit class="govuk-button" data-module="govuk-button">Save and Continue</button>
                    <a class="govuk-link" @onclick="Cancel" href>Cancel</a>
                </div>
            </div>

        </EditForm>

    </section>
}