@page "/invoice/add-payment-request"
@using EST.MIT.Web.Shared.Components.GDSInputInt
@using EST.MIT.Web.Shared.Components.GDSInputText
@using EST.MIT.Web.Shared.Components.GDSInputDate
@using EST.MIT.Web.Shared.Components.GDSInputSelect
@using EST.MIT.Web.Shared.Components.InvoiceMetaData
@using Helpers

@if (!invoice.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-9">
        <h1 class="govuk-heading-l">
            Add Payment Request
        </h1>
    </section>

    <InvoiceMetaData Invoice=invoice />

    <section class="govuk-width-container">

        @if (errors.Count > 0)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary" autofocus="autofocus">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var error in errors)
                            {
                                @foreach (var value in error.Value.Distinct())
                                {
                                    <li>
                                        <a href="/invoice/add-payment-request/#@error.Key">@value</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        
        <EditForm Model="paymentRequest" OnSubmit="SaveHeader" class="govuk-!-padding-top-6">

            <GDSInputText @bind-Data="paymentRequest.FRN" Label="FRN" Key="FRN" CommonKeys="CustomerReferenceCommonKeys" Errors="errors" />

            <GDSInputText @bind-Data="paymentRequest.SBI" Label="SBI" Key="SBI" CommonKeys="CustomerReferenceCommonKeys" Errors="errors" />

            <GDSInputText @bind-Data="paymentRequest.Vendor" Label="Vendor" Key="Vendor" CommonKeys="CustomerReferenceCommonKeys" Errors="errors" />
            
            <GDSInputText @bind-Data="paymentRequest.MarketingYear" Label="Marketing Year" Key="MarketingYear" Errors="errors"/>

            <GDSInputText @bind-Data="paymentRequest.AgreementNumber" Label="Agreement Number" Key="AgreementNumber" Errors="errors"/>
            
            <GDSInputSelect @bind-Data="paymentRequest.Currency" Label="Currency" Key="Currency" Options="currencies" Errors="errors"/>

            <GDSInputText @bind-Data="paymentRequest.Description" Label="Description" Key="Description" Errors="errors" />
            
            @if(invoice.AccountType == "AR")
            {
                <GDSInputText @bind-Data="paymentRequest.OriginalInvoiceNumber" Label="Original Claim Reference" Key="OriginalInvoiceNumber" Errors="errors" />
                <GDSInputDate @bind-Data="paymentRequest.OriginalSettlementDate" Key="OriginalSettlementDate" Errors="errors" Label="Original AP Invoice Settlement Date" />
                <GDSInputDate @bind-Data="paymentRequest.RecoveryDate" Key="RecoveryDate" Errors="errors" Label="Earliest date possible recovery first identified" />
                <GDSInputText @bind-Data="paymentRequest.InvoiceCorrectionReference" Label="Correction Reference - Previous AR Invoice ID" Key="InvoiceCorrectionReference" Errors="errors" />
            }

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button type=submit class="govuk-button" data-prevent-double-click="true" data-module="govuk-button">Save and Continue</button>
                    <a class="govuk-link" @onclick="Cancel" href>Cancel</a>
                </div>
            </div>

        </EditForm>

    </section>
}