@page "/create-bulk/account"
@using EST.MIT.Web.Shared.Components.GDSInputRadio
@using Helpers
@using global::Helpers;

@if (!invoice.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-9">
        <h1 class="govuk-heading-l">
            Select account type
        </h1>
    </section>

    <section class="govuk-form-group govuk-width-container govuk-!-padding-top-3">
        <EditForm Model="accountSelect" OnValidSubmit="@SaveAndContinue" OnInvalidSubmit="@ValidationFailed">
            <DataAnnotationsValidator />
            <div class="govuk-form-group @(IsErrored ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    @if (IsErrored)
                    {
                        <p class="govuk-error-message">
                            @foreach (var error in viewErrors)
                            {
                                <span class="govuk-visually-hidden">Error:</span> @error
                            }
                        </p>
                    }

                    <InputRadioGroup @bind-Value="accountSelect.Account" class="govuk-radios" data-module="govuk-radios" Name="select-account-type" Label="Select account type">
                        <GDSInputRadio Options="accountTypes" UseKeys=false />
                    </InputRadioGroup>

                </fieldset>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button type=submit class="govuk-button" data-module="govuk-button">Save and Continue</button>
                    <a class="govuk-link" @onclick="Cancel" href="/">Cancel</a>
                </div>
            </div>

        </EditForm>
    </section>
}