@page "/approval/confirmation/{Id}"

<div class="govuk-width-container">
    <h1 class="govuk-heading-l">Confirmation</h1>
    <p class="govuk-body">
        @Id has been sent for approval, and email confirmation will be sent shortly.
    </p>
</div>