@page "/approval/confirmation/{Id}"

<div class="govuk-width-container govuk-!-padding-top-1">
    <h1 class="govuk-label-wrapper">
        <a href="/" class="govuk-back-link">Back</a>
    </h1>
</div>
<section class="govuk-width-container govuk-!-padding-top-9">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Approval request complete
        </h1>
        <div class="govuk-panel__body">
            Invoice reference number<br><strong>@Id</strong>
        </div>
    </div>
</section>
<section class="govuk-width-container">
    <h2 class="govuk-heading-m">What happens next?</h2>
    <p class="govuk-body">We will send you an email confirming your request.</p>
    <p class="govuk-body">Please make note of this reference number now as it will not be displayed agian.</p>
    <p class="govuk-body">We will notify you by email when your request has been approved or rejected. You can check the status of this invoice on the <a class="govuk-link" href="/user-invoices">My Invoices page</a></p>
</section>
