@page "/approval/confirmation/{Id}"

<div class="govuk-width-container govuk-!-padding-top-1">
    <h1 class="govuk-label-wrapper">
        <a href="/" class="govuk-back-link">Back</a>
    </h1>
</div>

<div class="govuk-width-container">
    <h1 class="govuk-heading-l">Confirmation</h1>
    <p class="govuk-body">
        @Id has been sent for approval, and email confirmation will be sent shortly.
    </p>
</div>