@page "/invoice/update-payment-request/{PaymentRequestId}"
@using EST.MIT.Web.Shared.Components.GDSInputInt
@using EST.MIT.Web.Shared.Components.GDSInputText
@using EST.MIT.Web.Shared.Components.InvoiceMetaData

<section class="govuk-width-container govuk-!-padding-top-9">
    <h1 class="govuk-heading-l">
        Update Payment Request
    </h1>
</section>

<InvoiceMetaData Invoice=invoice/>

<section class="govuk-width-container">
    
    <EditForm Model="paymentRequest" OnSubmit="SavePaymentRequest" class="govuk-!-padding-top-6">

        <GDSInputInt @bind-Data="paymentRequest.FRN" Label="FRN" Key="FRN" Errors="errors" />

        <GDSInputInt @bind-Data="paymentRequest.MarketingYear" Label="Marketing Year" Key="MarketingYear" Errors="errors" />

        <GDSInputInt @bind-Data="paymentRequest.PaymentRequestNumber" Label="Payment Request Number" Key="PaymentRequestNumber" Errors="errors" />

        <GDSInputText @bind-Data="paymentRequest.AgreementNumber" Label="Agreement Number" Key="AgreementNumber" Errors="errors" />

        <GDSInputText @bind-Data="paymentRequest.Currency" Label="Currency" Key="Currency" Errors="errors" />

        <GDSInputText @bind-Data="paymentRequest.DueDate" Label="Due Date" Key="DueDate" Errors="errors" />

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button type=submit class="govuk-button" data-module="govuk-button">Save and Continue</button>
                <a class="govuk-link" @onclick="Cancel" href>Cancel</a>
            </div>
        </div>

    </EditForm>

</section>
