@page "/invoice/delete-payment-request/{paymentRequestId}"

<section class="govuk-width-container govuk-!-padding-top-9">
    <h1 class="govuk-heading-l">
        Confirmation
    </h1>
</section>

<section class="govuk-width-container">

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Information</span>
            This will also delete accociated invoice lines and effect the overall invoice value.
        </strong>
    </div>

    <h2 class="govuk-heading-m">Are you sure you want to delete this Payment Request?</h2>
    <h2 class="govuk-hint">@PaymentRequestId.</h2>

    <div class="govuk-button-group">
        <button class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" @onclick="ConfirmDelete">Confirm</button>
        <a class="govuk-link" @onclick="CancelDelete" href>Cancel</a>
    </div>

</section>