@page "/bulk/confirmation/{ConfirmationNumber}"

<div class="govuk-width-container govuk-!-padding-top-1">
    <h1 class="govuk-label-wrapper">
        <a href="/" class="govuk-back-link">Back</a>
    </h1>
</div>

<section class="govuk-width-container govuk-!-padding-top-9">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Upload complete
        </h1>
        <div class="govuk-panel__body">
            Your reference number<br><strong>@ConfirmationNumber</strong>
        </div>
    </div>
</section>

<section class="govuk-width-container">
    <h2 class="govuk-heading-m">What happens next?</h2>
    <p class="govuk-body">We will send you an email confirming the upload.</p>
    <p class="govuk-body">Please make note of this reference number now as it will not be displayed agian.</p>
    <p class="govuk-body">The invoice will start to appear shortly. If this does not happen please contact the <a class="govuk-link" href="/">Service Desk</a></p>
</section>