@page "/invoice/view/{id}"
@page "/invoice/details/{scheme}/{id}/{approval:bool?}"

@using Helpers
@using EST.MIT.Web.Shared.Components.InvoiceMetaData
@using EST.MIT.Web.Shared.Components.ReadonlyInvoicePR
@using EST.MIT.Web.Shared.Components.ReadonlyInvoiceLines

@if (IsErrored)
{
    <section class="govuk-width-container govuk-!-padding-top-3">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var error in Errors)
                        {
                            <li>
                                <a href="#@(error.Key)">@error.Value</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

@if (!@invoice.IsNull())
{

    <section class="govuk-width-container govuk-!-padding-top-3">
        <a class="govuk-back-link" href="/invoice/summary/@invoice.SchemeType/@invoice.Id/@backUrl">Back</a>
        <h1 class="govuk-heading-l">
            Invoice: @invoice.Id
        </h1>
    </section>

    <InvoiceMetaData Invoice=invoice />

    @foreach (var payment in invoice.PaymentRequests)
    {
        <section class="govuk-width-container govuk-!-padding-top-3">
            <h2 class="govuk-heading-m">@payment.PaymentRequestId</h2>
            <ReadonlyInvoicePR PaymentRequest=payment Invoice=@invoice />
            <ReadonlyInvoiceLines PaymentRequest=payment />

        </section>
    }

    @if (Approval)
    {
        <section class="govuk-width-container govuk-!-padding-top-3">
            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button id="ApproveInvoice" type=submit class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" @onclick="ApproveInvoice">Approve</button>
                    <button id="RejectInvoice" type=submit class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" @onclick="RejectInvoice">Reject</button>
                </div>
            </div>
        </section>
    }
}